
<div class="span3 bs-docs-sidenav" style=" background-color:#EEEEEE; ">
	<ul class="nav nav-list bs-docs-sidenav affix-top">
		<li class="active" ><%= link_to "Dashboard", welcome_path %></li>
		<li><%= link_to "Products", admin_products_path %> </li>
		<li><%= link_to "Supplier", admin_suppliers_path %> </li>
		<li><%= link_to "Contacts", welcome_path %> </li>
	</ul>
</div>

